* {
    margin: 0;
    padding: 0;
}

a,
a:active {
    color: inherit;
}

.centre {
    text-align: center;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: $camo;
}

.content {
    width: 70%;
    padding: 5% 15% 5% 15%;

    ul {
        width: 500px;
        margin: auto;
    }

    ul li p {
        font-size: 26px;
    }
}