* {
    margin: 0;
    padding: 0;
}

a,
a:active {
    color: inherit;
}

.centre {
    text-align: center;
}


.divider {
    left: 496px;
    top: 1082px;
    position: absolute;
}

.table {
    background-color: white;
    width: 780px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 1348px;
    right: 578px;
    left: 578px;

    .top {
        height: 24px;
        width: 758px;
        // margin: auto;
        // margin-top: 13px;
        // margin-bottom: 13px;
        // margin-left: auto;
        // margin-right: auto;
        padding-bottom: 13px;
        padding-top: 13px;
        padding-left: 11px;
        padding-right: 11px;
        border: 1px solid black;
    }

    .topmiddle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        p {
            padding-bottom: 13px;
            padding-top: 13px;
            padding-left: 11px;
            padding-right: 11px;
            border: 1px solid black;
        }
    }

    .topmiddle p:first-child {
        width: 412px;
    }

    .topmiddle p:nth-child(2) {
        width: 183px;
    }

    .topmiddle p:last-child {
        width: 183px;
    }

    .bottommiddle p {
        padding-bottom: 13px;
        padding-top: 13px;
        padding-left: 11px;
        padding-right: 11px;
        border: 1px solid black;
    }

    .bottom {
        position: relative;
        border: 1px solid black;
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .bottom div {
        display: flex;
        justify-content: space-around;
    }

    .bottom #wcb {
        padding-top: 7px;
        height: 40px;
    }

    // div {
    //     p {
    //         position: relative;
    //         top: 13px
    //     }
    // }
    // .top {
    //     height: 37px;
    //     width: 780px;

    // }
    // .topmiddle {
    //     height: 50px;
    //     width: 780px;
    //     display: flex;
    //     flex-direction: row;
    //     p {
    //         padding-top: 13px;
    //         border: 1px solid black;
    //     }
    // }
    // .topmiddle p:first-child {
    //     width: 412px;
    // }
    // .topmiddle p:nth-child(2) {
    //     width: 183px;}
    // .topmiddle p:last-child {
    //     width: 183px;
    // }
    // .bottommiddle {
    //     height: 50px;
    //     p {
    //         border: 1px solid black;
    //     }
    // }
}

.content {
    width: 70%;
    padding: 5% 15% 5% 15%;

    ul {
        width: 500px;
        margin: auto;
    }

    ul li p {
        font-size: 26px;
    }
}