@import url('https://fonts.googleapis.com/css2?family=Mohave&family=Racing+Sans+One&display=swap');
//     font-family: 'Racing Sans One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Mohave&family=Racing+Sans+One&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Noto+Sans+JP:wght@600&display=swap');

@font-face {
    font-family: digitalsymbols;
    src: url(/font/Digitalsymbols-56BG.ttf);
}

.digitalfont {
    font-family: digitalsymbols, sans-serif;
}

p {
    font-size: 1.2em;
}
.title {
    font-family: 'Exo', sans-serif;
    margin-left: 1.25em;
    color: $titlegreen;
}
.title-top {
    letter-spacing: -0.031em;
    
}
.title-bottom {
    letter-spacing: -0.13em;
    margin-top: -15px;
}
.title a {
    color: white;
}
@media (min-width: 48em) {
    .title {
        margin-left: 1.25em;
    }
}