.skill-icon {
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
}

.osrs {
    font-family: "Mohave";
    color: #f2f204;
    text-shadow: 1px 1px black;
    display: grid;
    text-align: center;
    gap: 2px;
    grid-template-columns: repeat(3, 55px);
    padding: 0.5em;
    justify-content: center
}

.osrs-grid {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #494035;
}