.project-div {
    border-radius: 5px;
    background-color: $quilgrey;
    height: 100%;
    width: 100%;
    box-shadow: 1.4px 1.4px 2.2px rgba(54, 67, 43, 0.03),
        3.3px 3.3px 5.3px rgba(54, 67, 43, 0.038),
        6.3px 6.3px 10px rgba(54, 67, 43, 0.043),
        11.2px 11.2px 17.9px rgba(54, 67, 43, 0.047),
        20.9px 20.9px 33.4px rgba(54, 67, 43, 0.053),
        50px 50px 80px rgba(54, 67, 43, 0.07);
    margin-top: 31px;
    padding: 1em 0em 2em 0em;

}

.project {
    width: 90%;
    margin: auto;

    .project-title {
        margin-bottom: 1em;
    }
}

.project-intro {

    .project-intro-text {

        .top-text {
            display: flex;
            justify-content: space-evenly;
        }

    }

    .project-intro-img {

        img {
            display: block;
            margin: auto;
        }
    }
}

.technologies {
    display: flex;
    justify-content: space-between;
}

.technologies .column {
    width: 50%;
}

.tech-list {
    margin-left: 0.5em;
    list-style: none;
}

.years {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.year {
    padding: 0.5em;
    margin-left: 1.5em;
}

.divider {
    width: 75%;
    height: 2px;
    border-radius: 15px;
    background: $lightergrey;
    margin: 1em auto 1em auto;
}

@media (min-width: 48em) {
    .project {
        width: 50%;
    }
}