$purple: #9C76ec;
$darkpurple: #877F98;
$yellow: #EDE677;
$greenish: #77EDCA;
$orange: #ED9077;

$lightgreen: #7B9474;/*extra optional*/

$quilgrey: #dbdcd4; /* optional i guess */
$titlegreen: #075727;

$white: #E7E7DF;
$darkgrey: #36432B;
$grey: #6A6C66;
$lightgrey: #92948E;
$lightergrey: #BBBCB6;
$camo: #728261;
$greeny: #548C64;
